**
!pnpm-workspace.yaml
!dist/
!dist/apps/
!dist/apps/core-api/
!dist/apps/core-api/**
!dist/apps/signaling-gateway/
!dist/apps/signaling-gateway/**
!dist/apps/admin/
!dist/apps/admin/**
!apps/
!apps/web/
!apps/web/.next/
!apps/web/.next/standalone/
!apps/web/.next/standalone/**
!apps/web/.next/static/
!apps/web/.next/static/**
!apps/web/public/
!apps/web/public/**
!apps/web/Dockerfile
!deploy/
!deploy/**
!docker/
!docker/dev-entrypoint.sh
